<li class="todo border-bottom pt-3 pb-4">

  <div class="todo-text mb-1">
    <%= todo.text.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if todo.text %>
  </div>

  <% if todo.image.present? %>
    <%= link_to url_for(todo.image),
      class: "image-preview-link mb-1",
      target: "_blank",
      rel: "noopener" do %>
      <%= image_tag todo.image %>
    <% end %>
  <% end %>

  <div class="todo-controls d-flex justify-content-between">
    <div>
      <% if todo.do? %>
        <%= link_to "Done",
          todo_path(todo, params: { status: :done }),
          method: :patch,
          class: "link-secondary small mr-3" %>
        <%= link_to "Later",
          todo_path(todo, params: { status: :later }),
          method: :patch,
          class: "link-secondary small mr-3" %>
        <%= link_to "Never",
          todo_path(todo, params: { status: :never }),
          method: :patch,
          class: "link-secondary small mr-5" %>
      <% else %>
        <%= link_to "Do",
          todo_path(todo, params: { status: :do }),
          method: :patch,
          class: "link-secondary small mr-5" %>
      <% end %>
    </div>

    <div>
      <%= link_to "Delete",
        todo_path(todo),
        method: :delete,
        class: "link-secondary small" %>
    </div>
  </div>

</li>
