<li>
  <div class="todo pb-3">

    <div class="todo-text">
      <% if !todo.do? %>
        <span class="badge bg-secondary"><%= todo.status.titleize %></span>
      <% end %>

      <%= todo.text.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe if todo.text %>
    </div>

    <div class="todo-controls">
      <% if todo.do? %>
        <%= link_to "Done",
          todo_path(todo, params: { status: :done }),
          method: :patch,
          class: "link-secondary small mr-3" %>
        <%= link_to "Later",
          todo_path(todo, params: { status: :later }),
          method: :patch,
          class: "link-secondary small mr-3" %>
        <%= link_to "Never",
          todo_path(todo, params: { status: :never }),
          method: :patch,
          class: "link-secondary small mr-5" %>
      <% else %>
        <%= link_to "Do",
          todo_path(todo, params: { status: :do }),
          method: :patch,
          class: "link-secondary small mr-5" %>
      <% end %>

      <%= link_to "Delete",
        todo_path(todo),
        method: :delete,
        class: "link-secondary small" %>
    </div>

  </div>
</li>
